.ContextMenu {
  position: absolute;

  display: flex;
  flex-direction: column;
  max-width: 500px;

  color: white;

  background-color: #111111;
  border-radius: 10px;
  user-select: none;
}

.header {
  width: 100%;
  padding:  3px 10px;
  font-size: 20px;
  color: white;
  text-align: right;

  border-radius: 10px 10px 0 0;
  background-color: rgb(48, 48, 48);
  cursor: pointer;
}

.menuItem {
  padding: 10px 15px;
}