.ContextMenu {
  position: absolute;

  display: flex;
  flex-direction: column;
  max-width: 500px;

  color: white;

  background-color: #111111;
  border-radius: 10px;
  user-select: none;
}

.header {
  width: 100%;
  padding:  3px 10px;
  font-size: 20px;
  color: white;
  text-align: right;

  border-radius: 10px 10px 0 0;
  background-color: rgb(48, 48, 48);
  cursor: pointer;
}

.menuItem {
  padding: 10px 15px;
  cursor: pointer;
}

.menuItem:hover {
  color: #d1d1d1;
}

.fade {
  opacity: 0; /* Начальное состояние - полностью прозрачный */
  animation: fadeInAnimation 0.5s forwards; /* Анимация длительностью 2 секунды */
}

@keyframes fadeInAnimation {
  from {
      opacity: 0; /* Начало анимации - прозрачный */
  }
  to {
      opacity: 1; /* Конец анимации - полностью непрозрачный */
  }
}