.AddCommentForm {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hr {
  height: 2px;
  border-radius: 5px;
  background-color: #393D46;
}

.comment {
  font-size: 15px;
  color: #919193
}

.submit {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 96px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background: #393D46;
  font-size: 12px;
  outline: 2px solid #919193;
  color: white;
}

.submit:hover {
  outline: 3px solid #919193;
}

.toUpload {
  font-size: 15px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.uploadSection {
  display: flex;
  align-items: center;
  gap: 10px;
}

input[type="file"] {
  display: none;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  width: 25px;
  height: 25px;
}

.filenames {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}