.CreateEventForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 500px;
  padding: 20px;
  @media (max-width: 520px) {
    width: 350px;
    height: 640px;
  }
}

.address {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.street {
  font-size: 18px;
}

.globalAddress {
  font-size: 15px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.categories {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 50px;
  row-gap: 26px;
  
  height: 150px;
  overflow-y: scroll;
  @media (max-width: 520px) {
    grid-template-columns: repeat(2, 1fr);
  }
}

.categoryItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  margin-top: 4px;
}

.categoryIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  
  width: 64px;
  height: 64px;

  border-radius: 50%;
  background-color: #393D46;
}

.categoryImg {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.categoryTitle {
  font-size: 12px;
  text-align: center;
}

::-webkit-scrollbar {
  display: none;
}

.toUpload {
  font-size: 15px;
  font-style: italic;
  color: rgba(255, 255, 255, 0.5);
}

.uploadSection {
  display: flex;
  gap: 10px;
}

input[type="file"] {
  display: none;
}

.file {
  display: flex;
  justify-content: center;
  align-items: center;
}

.upload {
  width: 25px;
  height: 25px;
}

.filenames {
  display: flex;
  flex-direction: column;
  font-size: 12px;
}