.MediaSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mediaButton {
  display: flex;
  justify-content: center;
  align-items: center;
  align-self: flex-end;
  width: 96px;
  height: 25px;
  border: none;
  border-radius: 10px;
  background: #393D46;
  font-size: 12px;
  outline: 2px solid #919193;
  color: white;
}

.mediaButton:hover {
  outline: 3px solid #919193;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  padding: 30px;
}

.image, .video {
  width: 100%;
  object-fit: contain;
  border: 3px solid #393D46;
}