.EventCard {
  position: absolute;
  bottom: 17px;
  
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 300px;
  padding: 15px;
  border-radius: 10px;
  background-color: #222327;
}

.currentUser {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 10px;
  background-color: #111111;
}

.buttonSection {
  display: flex;
  gap: 10px;
}

.buttonSection button {
  width: 20px;
  height: 20px;
  background: none;
  border: none;
  cursor: pointer;
}

.buttonSection img {
  width: 20px;
  height: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.type {
  display: flex;
  gap: 5px;

  font-size: 18px;
  font-weight: bold;
}

.type p {
  margin-top: -1.5px;
}

.img {
  width: 40px;
  height: 40px;
}

.date {
  text-align: right;
  font-size: 13px;
  color: #919193;
}

.address {
  font-size: 13px;
  color: #919193;
}

.description {
  padding: 5px;
  border-radius: 10px;
  background-color: #393D46;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.footer p {
  font-size: 13px;
  color: #919193;
}

.buttons {
  display: flex;
}

.buttons button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  color: #919193;
  background: none;
  border: none;
  cursor: pointer;
}

.icon {
  width: 15px;
  height: 15px;
}

.counter {
  font-size: 10px;
  color: #919193;
  align-self: flex-end;
}

.comment {
  margin-top: 10px;
  font-size: 15px;
  color: #919193;
}

.hr {
  height: 3px;
  border-radius: 2px;
  background-color: #393D46;
}