.MyRange {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;

  height: 85px;
  padding: 20px;
  
  border-radius: 10px;
  background-color: #111111;
}

input[type="range"] {
  appearance: none;
  background: white;
  border-radius: 10px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none; 
  height: 15px;
  width: 15px;
  background-color: #393D46;
  border-radius: 50%;
}
